__pycache__/
*.pyc
.DS_Store
*.egg-info/
data/
__MACOSX/
.env

# artifacts 
checkpoints/
data/
wandb/
notebooks/wandb

miewid/*.pth
megadescriptor/*.pth

wandb.md
comments.md

/experiments/round_1
results/