__pycache__/
*.pyc
.DS_Store
*.egg-info/
__MACOSX/
.env

# artifacts 
checkpoints/
wandb/
notebooks/wandb

miewid/*.pth
megadescriptor/*.pth

wandb.md
comments.md

/experiments/round_1
/results/
/data/round_1/
/data/round_2/raw/
