torch==2.9.0
torchvision==0.24.0
matplotlib==3.10.0
pandas==2.2.2
tqdm==4.67.1
scikit-learn>=1.5.0
numpy==2.0.2
pillow==11.3.0
wandb==0.23.1
python-dotenv==1.2.1
fiftyone==1.10.0
decord==0.6.0
grad-cam==1.5.5
transformers
faiss-cpu==1.13.2
timm
huggingface_hub>=0.20.0